In [1]:
#importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as  plt

In [2]:
#importing the data
df  = pd.read_csv('home.txt', names=["size","bedrooom","price"])
df.head()

   size  bedrooom   price
0  2104         3  399900
1  1600         3  329900
2  2400         3  369000
3  1416         2  232000
4  3000         4  539900

It is clear that the scale of each variable is very different from each other.If we run regression algorithm on it now, `size variable` will end up dominating the `bedroom variable`.

To prevent this from happening we normalize the data. Which is to say we tone down the dominating variable and level the playing field a bit.

In [3]:
#normalising the data
df = (df - df.mean())/df.std()
df.head()

       size  bedrooom     price
0  0.130010 -0.223675  0.475747
1 -0.504190 -0.223675 -0.084074
2  0.502476 -0.223675  0.228626
3 -0.735723 -1.537767 -0.867025
4  1.257476  1.090417  1.595389

As you can see, `size` and `bedroom` variable now have different but comparable scales. We `normalized` them.

In [34]:
#setting up the matrices
X = df.iloc[:, 0:2]
ones = np.ones([X.shape[0], 1])
X = np.concatenate((ones, X), axis = 1)

y = df.iloc[:, 2:3].values #.values converts it from pandas DataFrame to numpy.ndarray
theta = np.zeros([1,3])

#setting hyperparameters
alpha = 0.1
iters = 10000

In [13]:
#creating the cost functoion
def computeCost(X, y ,theta):
    tobesummed = np.power(((X @ theta.T)-y),2)# @ means matrix multiplication of arrays. If we want to use * for multiplication we will have to convert all arrays to matrices
    return np.sum(tobesummed)/(2 * len(X))

In [14]:
computeCost(X,  y, theta)

0.48936170212765967

We need to reduce this cost using gradient descent.

In [24]:
def gradientDescent(X, y, theta, alpha, iters):
    cost = np.zeros(iters)
    for i in range(iters):
        theta = theta - (alpha/len(X))*np.sum(X * (X @ theta.T - y), axis = 0)
        cost[i] = computeCost(X, y, theta)
    
    return theta,cost

In [35]:
#Computing cost and gd
g,cost = gradientDescent(X, y, theta, alpha, iters)
print (g)

finalCost = computeCost(X,y,g)
print(finalCost)

[[-1.10431758e-16  8.84765988e-01 -5.31788197e-02]]
0.13068648053904197